[Unit]
Description=QIndexer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/qindexer run --config /etc/qsurfer-search/config.yaml
Restart=on-failure
RestartSec=5s
User=qsurfer-search
Group=qsurfer-search
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target

